* {
	background-color: #2b2b2b !important;
	background: #2b2b2b !important;
	color: white;
	margin: #2b2b2b !important;
	border: #2b2b2b !important;
	text-shadow: none !important;
}
a {
    color: #f45f42 !important;
	text-shadow: none !important;
}
body{
	color: white !important;
}

.block{
	border: #4f4f4f !important;
}
.breadcrumb {
    background: #2b2b2b !important;
    text-shadow: none !important;
}
